@model SurveysManagement.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">


    <div class="col col-login mx-auto">
        <div class="text-center mb-6">
            <img src="./assets/brand/tabler.svg" class="h-6" alt="">
        </div>
        <form class="card" action="Register" method="post">
            @Html.AntiForgeryToken()
            <div class="card-body p-6">
                <div class="card-title">Create new account</div>
                <div class="form-group">
                    <label class="form-label">Name</label>
                    <input type="text" name="Name" class="form-control" placeholder="Enter name">
                </div>
                <div class="form-group">
                    <label class="form-label">Expiry Date</label>
                    
                    <div class='input-group date' id='datetimepickerExpiryDate'>
                        <input type="text" name="ExpiryDate" class="form-control" placeholder="Enter expiry date">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">Phone</label>
                    <input type="number" name="Phone" min="0" max="9999999999" class="form-control" placeholder="Enter phone">
                </div>
                <div class="form-group">
                    <label class="form-label">City</label>
                    <input type="text" name="City" class="form-control" placeholder="Enter city">
                </div>
                <div class="form-group">
                    <label class="form-label">Area</label>
                    <input type="text" name="Area" class="form-control" placeholder="Enter area">
                </div>
                <div class="form-group">
                    <label class="form-label">Street</label>
                    <input type="text" name="Street" class="form-control" placeholder="Enter street">
                </div>
                <div class="form-group">
                    <label class="form-label">Education</label>
                    <input type="text" name="Education" class="form-control" placeholder="Enter education">
                </div>
                <div class="form-group">
                    <label class="form-label">Major</label>
                    <input type="text" name="Major" class="form-control" placeholder="Enter major">
                </div>
                <div class="form-group">
                    <label class="form-label">Shift Start</label>
                    <input type="time" name="ShiftStart" class="form-control" placeholder="Enter shift end">
                </div>
                <div class="form-group">
                    <label class="form-label">Shift End</label>
                    <input type="time" name="ShiftEnd" class="form-control" placeholder="Enter shift start">
                </div>
                <div class="form-group">
                    <label class="form-label">Shift Description</label>
                    <input type="text" name="ShiftDescription" class="form-control" placeholder="Enter shift description">
                </div>
                <div class="form-group">
                    <label class="form-label">Gender</label>
                    <div class="custom-controls-stacked">
                        <label class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" name="Gender" value="M" checked="checked">
                            <span class="custom-control-label">Male</span>
                        </label>
                        <label class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" name="Gender" value="F">
                            <span class="custom-control-label">Female</span>
                        </label>
                    </div>

                </div>
                <div class="form-group">
                    <label class="form-label">User type</label>
                    <div class="custom-controls-stacked">
                        <label class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" name="Role" value="1" checked="checked">
                            <span class="custom-control-label">User</span>
                        </label>
                        <label class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" name="Role" value="2">
                            <span class="custom-control-label">Admin</span>
                        </label>
                        <label class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" name="Role" value="3">
                            <span class="custom-control-label">Client</span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">Email address</label>
                    <input type="email" name="Email" class="form-control" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label class="form-label">Password</label>
                    <input type="password" name="Password" class="form-control" placeholder="Password">
                </div>
                <div class="form-group">
                    <label class="form-label">Confirm Password</label>
                    <input type="password" name="ConfirmPassword" class="form-control" placeholder="Password">
                </div>
                @*<div class="form-group">
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-label">Agree the <a href="terms.html">terms and policy</a></span>
          </label>
        </div>*@
                <div class="form-footer">
                    <button type="submit" class="btn btn-primary btn-block">Create new account</button>
                </div>
            </div>
        </form>

    </div>
</div>
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>

<script>
    /////datepicke/////
    $(document).ready(function () {
        $(function () {
            $('#datetimepickerExpiryDate').datetimepicker({
                useCurrent: false //Important! See issue #1075
            });
            //$("#datetimepickerExpiryDate").on("dp.change", function (e) {
            //    $('#datetimepickerBirthDate').data("DateTimePicker").minDate(e.date);
            //});
            //$("#datetimepickerBirthDate").on("dp.change", function (e) {
            //    $('#datetimepickerExpiryDate').data("DateTimePicker").maxDate(e.date);
            //});
        });
    });
    /////datepicke/////
</script>

