@model string

<div class='form-group'>
    @Html.LabelForModel()
    @Html.TextBoxFor(Model => Model, new { @type = "email", @class = "form-control form-control-sm" })
    @Html.ValidationMessageFor(Model => Model, "", new { @class = "error help-block" })
</div>
